
body {
    font-family:Arial,Sans-Serif;
}

td.total {
    cursor:pointer;
}

.input {
    margin: auto;
    width: 40%;
}


#results_container {
    box-shadow: 0 10px 10px 5px #888888;
    margin-top: 40px;
}

#input-form {
		margin-top: 20px !important;
}