<html><head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>iPollution</title>
    
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.8.18-min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/retrieveData.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/highcharts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/shadowbox/shadowbox.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smoothness/jquery-ui-1.8.23.custom.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/shadowbox/shadowbox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

    <script type="text/javascript">
        var search_url = '{{ url_for('search') }}';
        var values_url = '{{ url_for('get_values') }}';
        var dump_url = '{{ url_for('dump_image') }}';
        var year_start=1990,year_stop=2012;
        var all_data={};
        var all_units= {'o3':'hours', 'no2':'μg/m3', 'pm10':'μg/m3'};
        var all_names= {'o3':'Ozone', 'no2':'Nitrogen dioxide', 'pm10':'Particulates'};
        var year_labels=[];
        var year_labels_complete=[];
        for(var y=year_start; y<=year_stop; y++) {
            year_labels.push( String(y).substr(2) );
            year_labels_complete.push(String(y));
        }
        Shadowbox.init({
   		  	players:  ['html', 'iframe'] 
				});
				
				
				$('document').ready(function(){
					$('#input-form').submit(function(){
						retrieveData();
						return false;
					})
				});
    </script>

</head>

<body>

<h1>iPollution</h1>

<div class="demo">
    <div class="ui-widget">
    	<form id="input-form" action="">
        <label for="location">Please enter a location in Switzerland:</label>
        <input id="location" class="ui-autocomplete-input ui-corner-all" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
        <button id="submit">Fetch data!</button>
      </form>
    </div>
</div>


<div id="table_container">


    <table>
        <tr id="row_head"><th></th></tr>
        <tr id="row_pm10"><td><a href="http://en.wikipedia.org/wiki/Particulates#Health_effects" target="_new">Particulates</a></td></tr>
        <tr id="row_no2"><td><a href="http://en.wikipedia.org/wiki/Nitrogen_dioxide#Safety_and_pollution_considerations" target="_new">Nitrogen dioxide</a></td></tr>
        <tr id="row_o3"><td><a href="http://en.wikipedia.org/wiki/Ozone#Ozone_air_pollution" target="_new">Ozone</a></td></tr>
    </table>

</div>

<div id="result_container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


</body>
</html>
